<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Hermes client example</title>
</head>
<body>
<textarea id="chat-content" style="width:100%;height:300px"></textarea><br/>
<input type="text" id="message" placeholder="Enter message"/>
<input type="button" value="Send" onclick="sendMessage()"/>
<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/0.3.4/sockjs.min.js"></script>
<script type="text/javascript">

    // Server name
    var sock = null;

    // Function for sending the message to server
    function sendMessage(){
        // Get the content from the textbox
        var message = $('#message').val();

        // The object to send
        var send = {
            message: message
        };

        // Send it now
        sock.send(JSON.stringify(send));
    }

    function init(){
        var host = $('#host').val();
        var port = $('#port').val();
        
        // Create a connection to /comet
        sock = new SockJS('/comet');

        // Open the connection
        sock.onopen = function() {
            console.log('Connection opened');

            var message = {channel: 'system', command: 'subscribe', data: {channel: 'test'}};
            sock.send(JSON.stringify(message));
        };

        // On connection close
        sock.onclose = function() {
            console.log('Connection closed');
        };

        // On receive message from server
        sock.onmessage = function(e) {
            // Get the content
            var content = e.data;
            // Append the text to text area (using jQuery)
            $('#chat-content').val(function(i, text){
                return text + content + '\n';
            });
        };
    }

    init();
</script>
</body>
</html>